/* Общие стили для обнуления */
p,
a,
h1,
h2,
h3,
h4,
h5,
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* Стили для кнопок */
.btn {
  border-radius: 10px;
  border-color: blue;
  background-color: aqua;
  color: blueviolet;
  cursor: pointer;
}
.btn:hover {
  background-color: aqua;
  color: red;
}

/* Основные стили для галереи */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 16px;
}

/* Стили для элементов галереи */
.gallery-item {
  width: 300px; /* фиксированная ширина для каждого элемента */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-item:hover {
  transform: scale(1.05);
}

/* Стили для изображений */
.gallery-item img {
  width: 100%;
  height: 200px; /* фиксированная высота */
  object-fit: cover; /* изображение заполняет контейнер */
  border-bottom: 1px solid #ddd;
}

/* Стили для информации под изображениями */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  height: 100px; /* фиксированная высота для блока с информацией */
}

.info p {
  margin: 4px 0;
  font-size: 14px;
  font-weight: 500;
  color: #555;
}

.info-label {
  font-weight: bold;
  color: #333;
}

/* Стили для кнопки "Load More" */
.load-more {
  display: block;
  margin: 20px auto;
}

/* Контейнер для кнопки "Load More" */
.container {
  position: relative;
  min-height: 10vh;
}

.load-more {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

/* Медиа-запросы для адаптации галереи */
@media (max-width: 1024px) {
  .gallery-item {
    width: calc(33.333% - 16px);
  }
}

@media (max-width: 768px) {
  .gallery-item {
    width: calc(50% - 16px);
  }
}

@media (max-width: 480px) {
  .gallery-item {
    width: calc(100% - 16px);
  }
}
