p,
a,
h1,
h2,
h3,
h4,
h5,
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn {
  border-radius: 10px;
  border-color: blue;
  background-color: aqua;
  color: blueviolet;
  cursor: pointer;
}
.btn:hover {
  background-color: aqua;
  color: red;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 16px;
}

.gallery-item {
  width: calc(25% - 16px);
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item img {
  width: 100%;
  height: auto;

  border-bottom: 1px solid #ddd;
}

.info {
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.info p {
  margin: 4px 0;
  font-size: 14px;
  font-weight: 500;
  color: #555;
}
.info-info {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.info-label {
  font-weight: bold;
  color: #333;
  margin-right: 4px;
}
.images {
}

@media (max-width: 1024px) {
  .gallery-item {
    width: calc(33.333% - 16px);
  }
}

@media (max-width: 768px) {
  .gallery-item {
    width: calc(50% - 16px);
  }
}

@media (max-width: 480px) {
  .gallery-item {
    width: calc(100% - 16px);
  }
}
.loaderr {
  display: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
  color: black;
}
.loader {
  display: none;
  font-size: 48px;
  color: #fff;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
}
.loader:after {
  content: '';
  height: 4px;
  width: 0%;

  background: #ff3d00;
  animation: 5s lineGrow linear infinite;
}

@keyframes lineGrow {
  to {
    width: 100%;
  }
}
.images {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.load-more {
  display: block;
  margin: 20px auto;
}
.container {
  position: relative;
  min-height: 10vh;
}

.load-more {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
